ul {
  list-style: none;
  width: 90%;
  max-width: 40rem;
  margin: 2rem auto;
  padding: 0;
  border-radius: 8px;
}

li {
  margin: 1rem 0;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 8px;
  display: flex;
  justify-content: space-between; /* change this line */
  align-items: center;
}

.Button-Container {
  display: flex;
  justify-content: space-between; /* add this line */
}

.Button {
  border-radius: 8px;
  margin-left: 10px; /* add this line if you want some space between buttons */
}

/* 更新用ボタン */
#inputButton {
  background-color: brown;
  margin-left: 20px;
  border-radius: 8px;
}
